<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
  <link rel="stylesheet" type="text/css" href="/css/Login.css">
  <title>Login</title>
</head>

<body>
  <div class="login-container">
    <h2>Login</h2>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <% if(alert) { %>
      <script>
        Swal.fire({
          title: '<%= alert.alertTitle %>',
          text: '<%= alert.alertMessage %>',
          icon: '<%= alert.alertIcon %>',
          showConfirmButton: <%= alert.showConfirmButton %>,
          timer: <%= alert.timer %>
        }).then(() => {
          window.location = '/<%= alert.ruta %>';
        });
      </script>
    <% } %>

    <form id="login-form" action="/Login" method="POST">
      <div class="form-group">
        <label for="user">Username:</label>
        <input type="text" id="user" name="user" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="pass" name="pass" required>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
</body>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <% if(alert) { %>
    <script>
      Swal.fire({
        title: '<%= alertTitle %>',
        text:'<%= alertMessage %>',
        icon:'<%= alertIcon %>',
        showConfirmButton: <%= showConfirmButton %>,
        timer: <%= timer %>
      }).then(()=>{
        window.location = '/'
      })
    </script>
  <% } %>
</html>
